body{
    font-family: 'Open Sans', sans-serif;
    text-align: justify;
}
img {
    width: 100%;
    height: auto;
}
#tuodiv {
width: 100%; height: 100%; top: 0; left: 0;
background: url(images/bg.png) no-repeat center top; position: fixed; z-index: -1;
-webkit-background-size: cover;
-moz-background-size: cover;
-o-background-size: cover;
background-size: cover;
}
.contenitore{
    width: 70%;
}
.testa{
    padding-left: 39px;
}
.attuale{
    color: black !important;
    font-weight: 600;
}
.parte{
    float: left;
}
.sinistra{
    width: 30%;
}
.destra{
    width: 70%;
}
#menu li{
    list-style: none;
    color: #747474;
}
#menu a{
    text-decoration: none;
}
#menu a:hover {
    color: black;
    font-weight: 1800;
/* serve per farlo diventare grassetto */
}
.destra h1{
    font-size: 50px;
    margin-top: 7px;
    
}
.destra img{
    width: 100%;
    
}
.pattern{
    width: 100%;
    transition: all 0.5s ease;
    padding: 5px;
    margin-right: 3px;
    float: left
    
}
.pattern img{
    width: 100%;
    
}

.pattern h1{
    font-size:  25px;
    
}
.pattern h2{
    font-size: 15px;
}
#social li{
    list-style: none;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    color: white;
    background-color: gray;
    float: left;
    margin-right: 5px;
    text-align: center;
    line-height: 30px;
    transition: all 0.5s ease;
}